<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.online_exam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:launchMode="standard"

        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Online_Exam">

        <activity android:name=".student_question_viewpdf"></activity>
        <activity android:name=".student_answer_submit_page" />
        <activity android:name=".student_assignment_page" />
        <activity android:name=".teacher_question_viewpdf" />
        <activity android:name=".teacher_assignment_pageview" />


        <activity android:name=".JoinCourseActivity"
            android:parentActivityName=".student_homepage" />

        <activity android:name=".EditProfile"></activity>


        <activity android:name=".SignUp" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructActivity"
            android:parentActivityName=".teacher_homepage" />
        <activity android:name=".teacher_assignment_people" />
        <activity android:name=".teacher_assignment_add" />
        <activity
            android:name=".teacher_assignment_page"
            android:parentActivityName=".teacher_homepage" />
        <activity
            android:name=".CourseCreatingActivity"
            android:parentActivityName=".teacher_homepage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity android:name=".teacher_homepage" />

        <activity android:name=".Login_form" />






    </application>

</manifest>